<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylesheets/main.css">
    <title>My Car List</title>
</head>
<body>

    <div>
        <div>
            <h1> My Car List </h1>
            <br>
        </div>

        <div class="carimage">
            <h2>McLaren F1</h2>
            <img src="static/images/1994mclarenf1.jpg" alt="McLaren F1">
            <p>Produced from 1992-1998</p><br>
            <p>
                The McLaren F1 is a sports car designed and manufactured by British automobile manufacturer McLaren Cars, and powered by the BMW S70/2 V12 engine. The original concept was conceived by Gordon Murray. Murray was able to convince Ron Dennis to back the project. He engaged Peter Stevens to design the exterior and interior of the car. On 31 March 1998, the XP5 prototype with a modified rev limiter set the Guinness World Record for the world's fastest production car, reaching 240.1 mph (386.4 km/h),[4] surpassing the modified Jaguar XJ220's 217.1 mph (349 km/h) record from 1992.
            </p>
            <br>
            <p>Output from 6.1L V12</p>
            <ul>
                <li>618 hp</li>
                <li>479 lbf.ft</li>
            </ul>
            <a href="https://en.wikipedia.org/wiki/McLaren_F1">Click me for more.</a>
         </div>
        <br>


        <div class="carimage">
            <h2>Ferrari F40</h2>
            <img src="static/images/ferrarif40.jpg" alt="Ferrari F40">
            <p>Produced from 1987-1992</p><br>
            <p>The Ferrari F40 (Type F120) is a mid-engine, rear-wheel drive sports car[11] engineered by Nicola Materazzi with styling by Pininfarina. It was built from 1987 to 1992, with the LM and GTE race car versions continuing production until 1994 and 1996 respectively.[2] As the successor to the 288 GTO (also engineered by Materazzi), it was designed to celebrate Ferrari's 40th anniversary and was the last Ferrari automobile personally approved by Enzo Ferrari. At the time it was Ferrari's fastest, most powerful, and most expensive car for sale.[14]</p>
            <br>
            <p>Output from v8</p>
            <ul>
                <li>477 hp</li>
                <li>426 lbf.ft</li>
            </ul>
            <a href="https://en.wikipedia.org/wiki/Ferrari_F40">Click me for more.</a>
        </div>
        <br>

        <div class="carimage">
            <h2>Ford Mustand GT</h2>
            <img src="static/images/mustanggt.jpg" alt="Ford Mustang GT">
            <p>Produced from 1964 - Present</p>
            <br>
            <p>
                The Ford Mustang is a series of American automobiles manufactured by Ford. In continuous production since 1964, the Mustang is currently the longest-produced Ford car nameplate. Currently in its sixth generation, it is the fifth-best selling Ford car nameplate. The namesake of the "pony car" automobile segment, the Mustang was developed as a highly styled line of sporty coupes and convertibles derived from existing model lines, initially distinguished by "long hood, short deck" proportions.
            </p>
            <br>
            <p>Output from 5.0L v8 (2015 - present)</p>
            <ul>
                <li>460 hp</li>
                <li>420 lbf.ft</li>
            </ul>
            <a href="https://en.wikipedia.org/wiki/Ford_Mustang#Sixth_generation_(2015–present)">Click me for more.</a>
        </div>
        <br>

        <div class="carimage">
            <h2>Subaru WRX</h2>
            <img src="static/images/wrx.jpg" alt="Subaru WRX">
            <p>Produced from 1992 - Present</p>
            <br>
            <p>
                The Subaru WRX is an all-wheel drive sport compact car manufactured by Subaru, originally based on the Impreza created for the World Rally Championship in 1992.[1] Subaru claimed the name WRX stands for "World Rally eXperimental". Since 2014, the WRX lineup has been split from the Impreza, with a different body style also being used for WRX models.[2] After this point, there has been an absence of a hatchback/wagon body style.
            </p>
            <p>Output from 2.0L turbo box 4</p>
            <ul>
                <li>295 hp</li>
                <li>258 lbf.ft</li>
            </ul>
            <a href="https://en.wikipedia.org/wiki/Subaru_WRX_(VA)">Click me for more.</a>
        </div>
        <br>

        <div>
            <form action="/mainapp" method="GET">
                <input type="submit" name="mainapp" value="Home">
            </form>
        </div>
    </div>

</body>
</html>