<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylesheets/main.css">
    <title>My Car List</title>
</head>
<body>

    <div>
        <div>
            <h1> My Car List </h1>
            <br>
        </div>

        <div class="carimage">
            <h2>McLaren F1</h2>
            <img src="static/images/1994mclarenf1.jpg" alt="McLaren F1">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus repudiandae molestias labore reprehenderit doloremque esse quo eveniet magnam, sapiente aliquid veniam nemo perspiciatis unde ea ipsa at, totam quia laudantium.</p>
        </div>
        <br>


        <div class="carimage">
            <h2>Ferrari F40</h2>
            <img src="static/images/ferrarif40.jpg" alt="Ferrari F40">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quasi, illo molestias, itaque cumque temporibus sunt harum praesentium perferendis voluptates quia laboriosam voluptatum beatae vitae quis vero ipsa est voluptatibus!</p>
        </div>
        <br>

        <div class="carimage">
            <h2>Ford Mustand GT</h2>
            <img src="static/images/mustanggt.jpg" alt="Ford Mustang GT">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia cum quod maxime omnis dolorem quia nulla inventore laborum illo. Expedita velit architecto iusto maxime voluptatibus beatae deleniti cumque nemo ipsam!</p>
        </div>
        <br>

        <div class="carimage">
            <h2>Subaru WRX</h2>
            <img src="static/images/wrx.jpg" alt="Subaru WRX">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta reprehenderit odio voluptas aperiam molestias, sequi ipsa doloribus. Voluptatibus soluta dolores, quidem quae error optio sit dignissimos doloribus molestias dolore numquam.</p>
        </div>
        <br>
    </div>

</body>
</html>